<!DOCTYPE html>
<html lang="en">
    <head>
        <title>breakout</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link href="../public/register.css" rel="stylesheet">
    </head>
    <body>
       <h1 class="title">Break <span>OUT </span>Game</h1>
       
       <form class="signup" method="post" action="/register">
        <p>Sign Up</p>
        <div class="input-field">
            <i class='bx bxs-user-circle'></i>
            <input type="text" placeholder="Username" name="username">
        </div>
        <div class="input-field">
            <i class='bx bxs-lock'></i>
            <input type="password" placeholder="Password" name="password">
        </div>
        <input type="submit" value="Sign up" class="btn">
        <a href="./loginpage.html" >One Of Us? Log in to your account</a>

        <div class="social-media">
            <a href="#" class="social-icon">
                <i class='bx bxl-facebook'></i>
            </a>
            <a href="#" class="social-icon">
                <i class='bx bxl-twitter'></i>
            </a>
            <a href="#" class="social-icon">
                <i class='bx bxl-instagram'></i>
            </a>
        </div>


       </form>
    </body>
</html>